.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

@media (min-width: 880px) {
  .container {
    max-width: 860px;
    flex-direction: column;
  }
}

#logo {
  height: 35px;
}

p {
  color: #666;
}

@media (max-width: 880px) {
  main {
    padding: 36px 48px;
  }
}

@media (min-width: 880px) {
  main {
    display: flex;
    gap: 68px;
  }

  .copy {
    width: 400px;
    margin-top: 20px;
  }

  .copy h3 {
    margin-top: 48px;
  }
}

.copy p {
  font-size: 14px;
  line-height: 1.4;
}

.copy h2 {
  font-size: 32px;
  color: rgb(0, 41, 122);
  font-weight: 500;
  margin: 16px auto;
}

.copy h3 {
  font-size: 16px;
  color: #444;
  font-weight: normal;
}

.password-generator {
  border: 1px solid #ccc;
  border-radius: 20px;
  min-height: 350px;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: start;
}
.copy footer p {
  font-size: 12px;
  margin-right: 30px;
}
.copy footer p a {
  color: #6e6e78;
  text-decoration: none;
}
div.MuiFormControl-root {
  padding-bottom: 12px;
}
.copy .info-link a {
  text-decoration: none;
  color: #1662DD;
}