.container {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  height: 100vh;
  margin: 0 auto;
}

#logo {
  height: 35px;
}

p {
  color: #666;
}

main {
  margin-top: 300px;
  display: flex;
  gap: 68px;
}

.copy {
  width: 400px;
  margin-top: 20px;
}

.copy p {
  font-size: 14px;
  line-height: 1.4;
}

.copy h2 {
  font-size: 28px;
  color: rgb(0, 41, 122);
}

.copy h3 {
  font-size: 18px;
  color: #444;
  margin-top: 50px;
}

.password-generator {
  border: 1px solid #ccc;
  border-radius: 20px;
  min-height: 350px;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: start;
}
.copy footer p {
  font-size: 12px;
  margin-right: 12px;
}
.copy footer p a {
  color: #6e6e78;
  text-decoration: none;
}
div.MuiFormControl-root {
  padding-bottom: 12px;
}
